{% extends "base.html.twig" %}

{% block title %}
    Alterar a tarefa {{ task.id }}
{% endblock %}

{% block body %}
  <h1>Alterar a tarefa {{ task.id }}</h1>

   <div class="col-sm-12">
        {{ form_start(formulario) }}
            {{ form_widget(formulario) }}

            <input type="submit" class="btn" value="Atualizar"/>
        {{ form_end(formulario) }}
    </div>

  {{ include("tasks/_delete.html.twig") }}
{% endblock %}